body {
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    /* animation: animatecolor 8s ease-in-out 0.3s 4 normal; */
    background-color: blue;
    position: relative;
    z-index: -10;
}

@keyframes animatecolor {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: greenyellow;
    }
    75% {
        background-color: yellowgreen;
    }
    100% {
        background-color: green;
    }
}


@media(min-width:400px) and  (max-width:500px) {
    div {
        background-color: red;
    }
}


@media(orientation: landscape) {
    div {
        background-color: blueviolet;
    }
}

#d2 {
    position: relative;
    top: -300px;
    background-color: red;
    z-index: 20;
}

